Stroke prediction task

In [1]:
import numpy as np
import pandas as pd
import torch
from sklearn.preprocessing import OneHotEncoder

In [2]:
test_dataset = pd.read_csv('test.csv')
test_dataset.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,15304,Female,57.0,0,0,Yes,Private,Rural,82.54,33.4,Unknown
1,15305,Male,70.0,1,0,Yes,Private,Urban,72.06,28.5,Unknown
2,15306,Female,5.0,0,0,No,children,Urban,103.72,19.5,Unknown
3,15307,Female,56.0,0,0,Yes,Govt_job,Urban,69.24,41.4,smokes
4,15308,Male,32.0,0,0,Yes,Private,Rural,111.15,30.1,smokes

In [3]:
train_dataset = pd.read_csv('train.csv')
train_dataset.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,Male,28.0,0,0,Yes,Private,Urban,79.53,31.1,never smoked,0
1,1,Male,33.0,0,0,Yes,Private,Rural,78.44,23.9,formerly smoked,0
2,2,Female,42.0,0,0,Yes,Private,Rural,103.00,40.3,Unknown,0
3,3,Male,56.0,0,0,Yes,Private,Urban,64.87,28.8,never smoked,0
4,4,Female,24.0,0,0,No,Private,Rural,73.36,28.8,never smoked,0

In [4]:
X_train = train_dataset.drop('id', axis=1).drop('stroke', axis=1)
y_train = train_dataset['stroke']

X_test = test_dataset.drop('id', axis=1)

In [5]:
X_train.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,Male,28.0,0,0,Yes,Private,Urban,79.53,31.1,never smoked
1,Male,33.0,0,0,Yes,Private,Rural,78.44,23.9,formerly smoked
2,Female,42.0,0,0,Yes,Private,Rural,103.00,40.3,Unknown
3,Male,56.0,0,0,Yes,Private,Urban,64.87,28.8,never smoked
4,Female,24.0,0,0,No,Private,Rural,73.36,28.8,never smoked

In [6]:
y_train.head()

0    0
1    0
2    0
3    0
4    0
Name: stroke, dtype: int64

In [7]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15304 entries, 0 to 15303
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             15304 non-null  object
 1   age                15304 non-null  float64
 2   hypertension       15304 non-null  int64
 3   heart_disease      15304 non-null  int64
 4   ever_married       15304 non-null  object
 5   work_type          15304 non-null  object
 6   Residence_type     15304 non-null  object
 7   avg_glucose_level  15304 non-null  float64
 8   bmi                15304 non-null  float64
 9   smoking_status     15304 non-null  object
dtypes: float64(3), int64(2), object(5)
memory usage: 1.2+ MB

In [8]:
to_encode = ['gender', 'hypertension', 'heart_disease', 'ever_married', 'work_type', 'Residence_type', 'smoking_status']

In [9]:
ohe = OneHotEncoder()
ohe.fit(X_train[to_encode])
new_cols = pd.DataFrame.sparse.from_spmatrix(ohe.transform(X_train[to_encode]))
X_train = X_train.drop(to_encode, axis=1)
X_train = pd.concat([X_train, new_cols], axis=1)

new_cols = pd.DataFrame.sparse.from_spmatrix(ohe.transform(X_test[to_encode]))
X_test = X_test.drop(to_encode, axis=1)
X_test = pd.concat([X_test, new_cols], axis=1)

In [10]:
X_train.head()

,age,avg_glucose_level,bmi,0,1,2,3,4,5,6,...,10,11,12,13,14,15,16,17,18,19
0,28.0,79.53,31.1,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,33.0,78.44,23.9,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,42.0,103.00,40.3,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3,56.0,64.87,28.8,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,24.0,73.36,28.8,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [11]:
X_test.head()

,age,avg_glucose_level,bmi,0,1,2,3,4,5,6,...,10,11,12,13,14,15,16,17,18,19
0,57.0,82.54,33.4,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,70.0,72.06,28.5,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
2,5.0,103.72,19.5,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
3,56.0,69.24,41.4,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,32.0,111.15,30.1,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [12]:
X_train = X_train.values
Y_train = y_train.values
X_test = X_test.values

Data manipulations are over

In [113]:
#defining dataset class
from torch.utils.data import Dataset, DataLoader

class dataset(Dataset):
    def __init__(self,x,y):
        self.x = torch.tensor(x,dtype=torch.float32)
        self.y = torch.tensor(y,dtype=torch.long)
        self.length = self.x.shape[0]
 
    def __getitem__(self,idx):
        return self.x[idx],self.y[idx]
    def __len__(self):
        return self.length
trainset = dataset(X_train, Y_train)
#DataLoader
label_uniques, counts = np.unique(Y_train, return_counts=True)
class_weights = [sum(counts) / c for c in counts]
example_weights = [class_weights[e] for e in Y_train]
sampler = torch.utils.data.WeightedRandomSampler(example_weights, len(Y_train))


trainloader = DataLoader(trainset,batch_size=1024,shuffle=False)

In [114]:
from torch import nn
from torch.nn import functional as F

In [115]:
class Net(nn.Module):
    def __init__(self,input_shape):
        super(Net,self).__init__()
        self.fc1 = nn.Linear(input_shape,32)
        self.fc2 = nn.Linear(32,64)
        self.fc3 = nn.Linear(64,2)
    def forward(self,x):
        x = torch.relu(self.fc1(x))
        x = torch.relu(self.fc2(x))
        x = torch.sigmoid(self.fc3(x))
        return x

In [116]:
#hyper parameters
learning_rate = 0.01
epochs = 100
# Model , Optimizer, Loss
model = Net(input_shape=X_train.shape[1])
optimizer = torch.optim.SGD(model.parameters(),lr=learning_rate)
loss_fn = nn.NLLLoss(weight=torch.tensor(class_weights,dtype=torch.float32))

In [117]:
from tqdm import tqdm
from sklearn.metrics import balanced_accuracy_score
losses = []
accur = []
for i in tqdm(range(epochs)):
    for j, (x_train, y_train) in enumerate(trainloader):
    
    #calculate output
        output = model(x_train)
 
    #calculate loss
        loss = loss_fn(output,y_train)
 
    #accuracy
        predicted = model(torch.tensor(X_train,dtype=torch.float32))
        acc = (np.argmax(predicted.detach().cpu().numpy(), axis=1) == Y_train).mean() 
        bacc = balanced_accuracy_score(Y_train, np.argmax(predicted.detach().cpu().numpy(), axis=1))
    #backprop
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()

    if i%10 == 0:
        losses.append(loss)
        accur.append(acc)
        print("\n epoch {}\tloss : {}\t balanced accuracy : {}\t accuracy: {}".format(i,loss,bacc,acc))

  1%|▊                                                                                 | 1/100 [00:00<00:27,  3.57it/s]

 epoch 0	loss : -0.9894091486930847	 balanced accuracy : 0.6888208660602129	 accuracy: 0.674790904338735

 11%|████████▉                                                                        | 11/100 [00:02<00:23,  3.86it/s]

 epoch 10	loss : -0.9993063807487488	 balanced accuracy : 0.6046650470024709	 accuracy: 0.921327757449033

 21%|█████████████████                                                                | 21/100 [00:05<00:19,  3.96it/s]

 epoch 20	loss : -0.9996572136878967	 balanced accuracy : 0.5781286666758694	 accuracy: 0.935768426555149

 31%|█████████████████████████                                                        | 31/100 [00:08<00:18,  3.82it/s]

 epoch 30	loss : -0.9997755289077759	 balanced accuracy : 0.5611372906975138	 accuracy: 0.9409304756926293

 41%|█████████████████████████████████▏                                               | 41/100 [00:11<00:20,  2.84it/s]

 epoch 40	loss : -0.9998342990875244	 balanced accuracy : 0.5499103605593363	 accuracy: 0.9426293779404077

 51%|█████████████████████████████████████████▎                                       | 51/100 [00:14<00:14,  3.29it/s]

 epoch 50	loss : -0.999869167804718	 balanced accuracy : 0.5422569295860193	 accuracy: 0.9453737584945112

 61%|█████████████████████████████████████████████████▍                               | 61/100 [00:17<00:10,  3.58it/s]

 epoch 60	loss : -0.9998921751976013	 balanced accuracy : 0.5358523252764242	 accuracy: 0.9461578672242551

 71%|█████████████████████████████████████████████████████████▌                       | 71/100 [00:19<00:08,  3.54it/s]

 epoch 70	loss : -0.9999085068702698	 balanced accuracy : 0.5317189031376393	 accuracy: 0.946941975953999

 81%|█████████████████████████████████████████████████████████████████▌               | 81/100 [00:22<00:05,  3.43it/s]

 epoch 80	loss : -0.999920666217804	 balanced accuracy : 0.5279676780365252	 accuracy: 0.9470073183481442

 91%|█████████████████████████████████████████████████████████████████████████▋       | 91/100 [00:25<00:02,  3.44it/s]

 epoch 90	loss : -0.9999300241470337	 balanced accuracy : 0.5262417521361622	 accuracy: 0.9480527966544694

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [00:28<00:00,  3.55it/s]

In [118]:
prediction = model(torch.tensor(X_test,dtype=torch.float32))
prediction = prediction.reshape(-1).detach().numpy()

In [40]:
prediction=pd.DataFrame(prediction, range(15304, 15304 + len(prediction)), ['stroke'])
prediction.head()

         stroke
15304  0.025238
15305  0.127907
15306  0.000093
15307  0.013476
15308  0.002389

In [1]:
prediction.to_csv('results.csv', float_format='{:.32f}'.format, encoding='utf-8', index_label='id')

NameError: name 'prediction' is not defined